.vw-links .vw-tooltip.active > .vw-tooltip__item{
    margin-top: 24px;
    margin-left: -20px;
    z-index: 100000!important;
    position:relative!important;
}

.btn, .btn:hover, .btn:active, .btn:visited {
    font-size: 1em!important;
}
.form-control{
    font-size: 1em!important;
}
.form-select{
    font-size: 1em!important;
}
.roxo {
    background: #690080;
}

.card-title{
    font-size: 1.25em;
}
.card-subtitle{
    font-size: 1em;
}

.text-center fs-1{
    font-size: calc(1.375em + 1.5vw);
    padding: 20px;
}

.branco {
    background: #ffffff;
}

.cinza {
    background: #f8f9fa;
}

.card-max {
    max-width: 540px;
}

.card-special {
    background-size: 100% 100%;
}


.dark-mode {
    background-color:#2d2d2d !important;
    color:white !important;
    fill:white !important;

}

.card-updates-text {
    color: #6c757d;
}

.detalhes{
    margin-top: 2%;
}

.txt-roxo {
    color: #690080;
}

.img-circle {
    border-radius: 50%;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.medals-md {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.medals-lg {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.div-bord {
    border-radius: 25px;
    padding: 20px;
}

.btn-roxo:link,
.btn-roxo:visited {
    background-color: white;
    color: #690080;
    fill: #690080;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-roxo:hover {
    background-color: #9c27b0;
    color: white;
    fill: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-roxo:active {
    background-color: #690080;
    color: white;
    fill: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-branco:link,
.btn-branco:visited {
    background-color: #690080;
    color: white;
    fill: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-branco:hover {
    background-color: white;
    color: #9c27b0;
    fill: #9c27b0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-branco:active {
    background-color: white;
    color: #690080;
    fill: #690080;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}


